

.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    @media (min-width: 1367px) {
      max-width: 1366px;
      margin: 0px auto;
    }
  }
  
  .scrolling {
    display: inline-block;
    animation: scroll 25s linear infinite;
  }

  .scrolling div{
    display: flex;
  }
  
  .scrolling div::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  }
  
  .scrolling div {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .scrolling div img:nth-child(2) {
    margin-left: -46px;
    @media (max-width: 550px) {
      margin-left: -26px;
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  